*{
    font-family: 'Poppins', sans-serif;
}

.bg-color{
    background-color: #F0FFF0;
}

.custom-btn{
    background-color: #21B573;
    height: 43px;
    border: 0;
    padding: 0px 20px 0 20px ;
    width: auto;
    color: #F0FFF0;
    border-radius: 33px;
}

.function-card{
    height: 270px;
    width: 270px;
    border-radius: 15px;

}

.courses-card{
    height: 483px;
    width: 370px;
    border-radius: 18px;
}
footer{
    background-color: #282531;

}